<ion-header>
  <ion-toolbar>
    <ion-title>scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6"
               *ngFor="let document of scanService.documents; index as position">

        <ion-img src="{{ document.base64? document.base64 : document.webviewPath }}"
                (click)="showActionSheet(document, position)"></ion-img>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="scanService.addNewToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
